<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Credit and Saving</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletAct</display-name>
    <servlet-name>ServletAct</servlet-name>
    <servlet-class>container.ServletAct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAct</servlet-name>
    <url-pattern>/ServletAct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAct2</display-name>
    <servlet-name>ServletAct2</servlet-name>
    <servlet-class>container.ServletAct2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAct2</servlet-name>
    <url-pattern>/ServletAct2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAct3</display-name>
    <servlet-name>ServletAct3</servlet-name>
    <servlet-class>container.ServletAct3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAct3</servlet-name>
    <url-pattern>/ServletAct3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReturn</display-name>
    <servlet-name>ServletReturn</servlet-name>
    <servlet-class>container.ServletReturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReturn</servlet-name>
    <url-pattern>/ServletReturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAct1</display-name>
    <servlet-name>ServletAct1</servlet-name>
    <servlet-class>container.ServletAct1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAct1</servlet-name>
    <url-pattern>/ServletAct1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saving</display-name>
    <servlet-name>Saving</servlet-name>
    <servlet-class>container.Saving</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saving</servlet-name>
    <url-pattern>/Saving</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Selection</display-name>
    <servlet-name>Selection</servlet-name>
    <servlet-class>container.Selection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selection</servlet-name>
    <url-pattern>/Selection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Savingacc</display-name>
    <servlet-name>Savingacc</servlet-name>
    <servlet-class>container.Savingacc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Savingacc</servlet-name>
    <url-pattern>/Savingacc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deposite</display-name>
    <servlet-name>deposite</servlet-name>
    <servlet-class>container.deposite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deposite</servlet-name>
    <url-pattern>/deposite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>container.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepWithsaving</display-name>
    <servlet-name>DepWithsaving</servlet-name>
    <servlet-class>container.DepWithsaving</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepWithsaving</servlet-name>
    <url-pattern>/DepWithsaving</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Depwithsaving</display-name>
    <servlet-name>Depwithsaving</servlet-name>
    <servlet-class>container.Depwithsaving</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Depwithsaving</servlet-name>
    <url-pattern>/Depwithsaving</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Depwithsaving2</display-name>
    <servlet-name>Depwithsaving2</servlet-name>
    <servlet-class>container.Depwithsaving2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Depwithsaving2</servlet-name>
    <url-pattern>/Depwithsaving2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Creditacc</display-name>
    <servlet-name>Creditacc</servlet-name>
    <servlet-class>container.Creditacc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Creditacc</servlet-name>
    <url-pattern>/Creditacc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Depwithcredit</display-name>
    <servlet-name>Depwithcredit</servlet-name>
    <servlet-class>container.Depwithcredit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Depwithcredit</servlet-name>
    <url-pattern>/Depwithcredit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Depwithcredit2</display-name>
    <servlet-name>Depwithcredit2</servlet-name>
    <servlet-class>container.Depwithcredit2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Depwithcredit2</servlet-name>
    <url-pattern>/Depwithcredit2</url-pattern>
  </servlet-mapping>
</web-app>